*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #9d63e9;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe{
    width: 1600px;
    height: 700px;
    padding: 15px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 10 10px 10px rgba(0, 0, 0, 0.315);
}

header{
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
}

div.slider.container{
    height: 200.2px;
}